.col{
   margin-top: 50px;
   margin-bottom: -150px;
}
.col div{
   /*border: solid 1px red;*/
   margin-bottom: 40px;
   /*margin-top: 20px;*/
   text-align: right;
}
.col span{
    display: block;
    margin-top: 10px;
    margin-bottom: 50px;
    line-height: 20px;
 }
.radio span{
   margin-bottom: -30px;
    margin-right: 40px;
   line-height: 20px;
   box-sizing: border-box;
}
.col input{
   width: 250px;
}

.col2 span{
   margin-bottom: 120px;
}
.col2 TextArea{
   width: 280px;
}
.col2 .avatar-uploader > .ant-upload {
   width: 200px;
   height: 108px;
   margin-left: 40px;
   margin-top: 20px;
}
.col2 .ant-upload-text{
   text-align: center;
   line-height: initial;
}
.cont{
  padding: 10px;
<<<<<<< HEAD
}
.addHuiYuan{
    font-size: 30px;
    cursor: pointer;
    text-align: right;

}
.addHuiYuan:hover{
    color: #2378f7;
}
.delHuiYuan{
    font-size: 20px;
    cursor: pointer;
    color: #2378f7;
}
/*.delHuiYuan:hover{*/
     /*color: #2378f7;*/
 /*}*/
=======
  border: 1px solid rgba(255, 15, 29, 0.24);
}
>>>>>>> e1abf3390ed26d4d410366c9f49f11273fd1b0ec
