.query Input{
    width: 200px;
    margin-left: 30px;
    margin-right: 30px;
}
.query {
    text-align: left;
    margin-left: 20px;
}
.query Button{
<<<<<<< HEAD
    margin-left: 100px;
=======
    margin-left: 180px;
>>>>>>> e1abf3390ed26d4d410366c9f49f11273fd1b0ec
}
.row{
    margin-top: 10px;
    background-color: rgba(220, 220, 220, 0.38);
    line-height: 60px;
    height: 60px;
}
.col3{
    text-align: right;

}
.col3 div{
    margin-bottom: 50px;
}
.col3 div>span{
    /*display: inline-block;*/
    /*margin-top: 20px;*/
    /*margin-bottom: 20px;*/
    margin-right: 10px;
}
.col3 Input{
    width: 250px;
}
.col4{
    height: 30px;
    line-height: 30px;
    margin-right: 45px;
}
.beizhu{
    display: inline-block;
    margin-top: 35px;
}
.texta{
    margin-left: 25px;
    text-align: left;
    padding: 0;
}
.shu{
    padding: 10px;
}
.fenshu{
    margin-top: 80px;
}
.ant-input-number-handler-wrap span{
    display: inline-block;
<<<<<<< HEAD
}
.mingxi{
    cursor: pointer;
    color: #2378f7;
    font-size: 15px;

}
=======
}
>>>>>>> e1abf3390ed26d4d410366c9f49f11273fd1b0ec
